

<div class="div-input">
    <mat-form-field class="example-form-field" appearance="outline">
      <mat-label>Enter value</mat-label>
      <input matInput type="text" [(ngModel)]="value">
      <button matSuffix mat-icon-button  (click)="onClick()">
          <mat-icon>arrow_forward</mat-icon>
        </button>
        <mat-hint>Enter value and click on arrow button</mat-hint>
    </mat-form-field>

    <div class="div-result">
      Result : {{result}}
    </div>
  </div>

<router-outlet />
